<footer>
        <div class="center">
            <div class="flex">
                <div class="container order1" >
                   <div class="flex"> 
                    <div class="box-texto">
                    <ul>
                        <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Company</a></li>
                        <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Contact Us</a></li>
                        <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Shipping</a></li>
 
                    </ul>
                  
                    <ul>
                            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Returns</a></li>
                            <li><a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Careers</a></li>
                    </ul>
                   
                </div>
                    <div class="box-texto">
                            <div class="flex">
                                <div class="ico-rede-social">
                                        <img src="/assets/ico-social/facebook1.png">
                                    </div>   
                                    <div class="ico-rede-social">
                                            <img src="/assets/ico-social/twitter.png">
                                        </div> 
                                        <div class="ico-rede-social">
                                                <img src="/assets/ico-social/pinterest-social-logo.png">
                                            </div> 
                                            <div class="ico-rede-social">
                                                    <img src="/assets/ico-social/twitter1.png">
                                                </div> 
                                                <div class="ico-rede-social">
                                                        <img src="/assets/ico-social/google-plus.png">
                                                    </div>  
                            </div>
                    </div>
                    <div class="box-texto">
                     <p>@2015 Merlin's Potions. All Rights Reserved</p>
                        </div>
                </div><!--flex--->
                </div>
                <div class="container order2">
                        <div class="form">
                            <p>Sing up For our Newsletter</p>
                            <p>Sing up For our newsletter & get exclusive discounts!</p>
                            <form>
                                <input type="text" placeholder="Enter your email">   
                                <button type="submit">Submit</button> 
                            </form>

                        </div>
                

                </div>
                
                <div class="container order3">
                  
                </div>
            </div><!---flex--->
        </div>
</footer>