<div class="produto-detalhe"  [hidden]="visivel">
                <div class="fechar" (click)="fechar()">
                X
                </div>

    <div class="flex">
        <div class="container">
                <div class="img">
                    <img [src]=" pathImg+imagem" >
                </div>
        </div>
        <div class="container">
                <div class="box-texto">
                        <h2>{{nome}}</h2>
                </div>
                <div class="box-texto">
                        <h2>Use/Effect:</h2>
                    </div>
                    <div class="box-texto">
                            <p>{{effect}}</p>
                        </div>
                    
                   
                                <div class="box-texto">
                                        <h2>{{price}}</h2>
                                        <button type="text">Add to Cart</button>
                                    </div>
                                  
            
            </div>

    </div>
    
</div>