<section class="menu">
    <div class="flex center">
       <div class="container"> 
        <ul>
           <div class="relative"> <li>Potions </li><div class="lista-ico-absolute">   <fa-icon [icon]="faAngleDown"></fa-icon></div> </div>
           <div class="relative"> <li>Ingredients</li><div class="lista-ico-absolute"> <fa-icon [icon]="faAngleDown"></fa-icon> </div></div>
           <div class="relative">   <li>Books</li><div class="lista-ico-absolute"><fa-icon [icon]="faAngleDown"></fa-icon> </div></div>
           <div class="relative">    <li>Supplies</li><div class="lista-ico-absolute"><fa-icon [icon]="faAngleDown"></fa-icon> </div></div>
           <div class="relative">   <li>Charms</li><div class="lista-ico-absolute"><fa-icon [icon]="faAngleDown"></fa-icon> </div></div>
           <div class="relative">  <li>Clearance</li><div class="lista-ico-absolute"><fa-icon [icon]="faAngleDown"></fa-icon> </div></div>
        </ul>
        </div><!--container--->
        <div class="container">
            <div class="login">    
                <div class="flex">
                        <div class="container-texto"> <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Sing In</a> </div> 
                        <div class="container-texto">or</div>   
                        <div class="container-texto"> <a [routerLink]="['/routePath']" routerLinkActive="router-link-active" >Sing Up</a></div>
                </div><!--flex--->
                </div>
        </div>
    </div><!--flex-->

</section>
